<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>10.3</string>
	<key>CFBundleDisplayName</key>
	<string>Bileşim Acil</string>
	<key>CFBundleIdentifier</key>
	<string>com.bilesim.edm</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>XSAppIconAssets</key>
	<string>Icon.xcassets/AppIcons.appiconset</string>
	<key>NSCameraUsageDescription</key>
	<string>Acil durum bildirimi sırasında olay yeri ile ilgili fotograf çekilmesi gerekebileceği icin kamera erisim izni gerekmektedir
</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Acil durum bildirimi sırasında olay yeri ile ilgili fotograf yuklemesi gerekebileceği icin kamera erisim izni gerekmektedir
Acil durum bildirimi sırasında olay yeri ile ilgili fotograf çekilmesi gerekebileceği icin fotograflara erisim izni gerekmektedir
</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Acil durum bildirimi sırasında olay yeri ile ilgili fotograf çekilmesi gerekebileceği icin fotograf galerisine erisim izni gerekmektedir</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>yourdomain.com</key>
			<dict>
				<key>NSIncludesSubdomains</key>
				<true/>
				<key>NSThirdPartyExceptionRequiresForwardSecrecy</key>
				<false/>
			</dict>
		</dict>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>location</string>
		<string>remote-notification</string>
	</array>
	<key>CFBundleShortVersionString</key>
	<string>1.4.9</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>CFBundleName</key>
	<string>Intouch.Edm</string>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Acil Durum sırasında acil durumun yasandigi alanda bulunup bulnmadigiyla ilgili yoneticilere bilgi vermek amaçlı lokasyon bilgisine erisim izni gerekmektedir.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Acil Durum sırasında acil durumun yasandigi alanda bulunup bulnmadigiyla ilgili yoneticilere bilgi vermek amaçlı lokasyon bilgisine erisim izni gerekmektedir.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Acil Durum bildirimi sırasında lokasyon bilgisini otomatik doldurmak icin lokasyon bilgisine erisim izni gerekmektedir.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>This app need to access your calendar events</string>
</dict>
</plist>
