################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.sqlite
*.dtbcache

# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
*.cache
*.lock
bin
obj
*Intouch.Edm/.vs/Intouch.Edm/v15/.suo
*.ide
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-wal
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide
*.ide-shm
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-shm
*.ide-wal
Intouch.Edm/Intouch.Edm.Android/Edm.Android.csproj.user
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-wal
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-shm
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-wal
.vs/Intouch.Edm/v15/.suo
*.user
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-shm
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-shm
.vs/Intouch.Edm/v15/Server/sqlite3/storage.ide-wal
Intouch.Edm/Intouch.Edm.Android/Intouch.Edm.Android.csproj.user
